body {
  text-align: center;
  font-family: Tahoma;
}

#pairsTable {
  color: red;
}

#pairsRows{
  color: black;
  padding: 10px;
}

#confirmButton {
  margin: 10px;
  color: white;
  background-color: #92f442;
  border-color: #92f442;
  font-size: 15px;
}

#buttons {
  margin: 10px;
  color: white;
  background-color: #1091e8;
  border-color: #1091e8;
  font-size: 15px;
}

#logOutButton {
  margin: 10px;
  color: white;
  background-color: #f44256;
  border-color: #f44256;
  font-size: 15px;
}



.inputs {
  padding: 10px;
}
